* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #190361 0%, #bb00ff 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
#app {
  margin: 10rem auto;
  max-width: 32rem;
  background: #fff;
  text-align: center;
  padding: 4.8rem 6.4rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #34355b;
}
p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #34355b;
  margin: 1.4rem 0 2rem;
}
.image {

  cursor: pointer;
  width: 100%;
  padding: 0;
  margin-bottom: 6.4rem;
}
.image img{
  width: 20rem;
}

.button {
  background: #ff9500;
  padding: 16px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 33px;
}
.button:hover{
  background: #dd9500;
}
a {
  text-decoration: none;
}
.container-sorte{
  padding: 1rem;
  margin: 1.7rem 0;
  font-family: "Dancing Script";
  width: 100%;
  
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;
  color: #000000;
  background: #e4edf1;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(85, 85, 85, 0.5);
}
.hide {
  display: none;
}
